<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Messages</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1 class="group-name" id="group_name_1">{{ group.group_name }}</h1>

<br>

<!--Group Chat Messages-->
<div class="msger">
  <p class="chat-date-started">
    Group created on {{group.created_at|date}}
  </p>
  <main class="msger-chat">
    <div id="group-chat-messages">
      {% for message in messages %}
      <div>{{message.sender}}:- {{message.message}}</div>
      {% endfor %}
    </div>
  </main>
</div>
<!--Message Form-->
<form class="msger-inputarea" id="message-form" style="position: fixed; bottom: 0;">
  {% csrf_token %}
  <textarea name="message" id="message" class="msger-input" placeholder="Message" required></textarea>
  <button class="msger-send-btn" type="submit" id="submitButton">
    Send
  </button>
</form>

<!--WS Group Messsages Streaming-->
<script>
  let initialized = false
  function startWS() {
    var socket = new WebSocket('wss://' + window.location.host + '/ws/group_chat_messages/{{ group.url }}/');

    socket.onmessage = (event) => {
      const response = JSON.parse(event.data);
      const group_messages = response.messages;
      
      function renderGroupChatMessages(groupMessages) {
        for (var p = 0; p < groupMessages.length; p++) {
          const message = groupMessages[p];
          var temp = "";
          temp += `<div>${message.sender}:- ${message.message}</div>`;
          $("#group-chat-messages").append(temp);
        }
      }
      $("#group-chat-messages").empty();
      renderGroupChatMessages(group_messages);
    }
  };

  document.addEventListener('DOMContentLoaded', function () {
    startWS();
  });
</script>

<!--AJAX Message Sending-->
<script type="text/javascript">
  $('#message-form').on('submit', function (e) {
    e.preventDefault();
    $('#submitButton').prop('disabled', true);

    const textarea = document.getElementById('message');
    const message = textarea.value.trim();
    var sendBtn = $('#send-btn');
    $.ajax({
      type: 'POST',
      url: "{% url 'group_messages' group.url %}",
      data: {
        message: $('#message').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      dataType: 'json',
      success: function (data) {
        $('#message').val('');
        $('#submitButton').prop('disabled', false);
      },
      error: function(error) {   
        $('#submitButton').prop('disabled', false);     
      },
    });
  });
</script>

</body>
</html>